In [13]:
import pandas as pd
import numpy as np
n_samples = 1000

Data_Mahasiswa = {
    "ID_Mahasiswa": [f"S{str(i).zfill(4)}" for i in range(1, n_samples + 1)],
    "Umur": np.random.randint(17, 30, n_samples),
    "Jenis_Kelamin": np.random.choice(["Laki-laki", "Perempuan"], n_samples),
    "IPK": np.round(np.random.normal(3.0, 0.5, n_samples), 2), 
    "Jurusan": np.random.choice(["Informatika", "Management", "DKV", "PGSD", "Hukum"], n_samples),
    "Jumlah_SKS": np.random.randint(5, 40, n_samples),
    "Jumlah_kehadiran": np.round(np.random.uniform(0.5, 1.0, n_samples), 2), 
    "Kerja_Sampingan": np.random.choice(["Iya", "Tidak"], n_samples),
    "Beasiswa": np.random.choice(["Iya", "Tidak"], n_samples, p=[0.3, 0.7]),
    "Lulus_Tepat_Waktu": np.random.choice([1, 0], n_samples, p=[0.75, 0.25]) 
}

Mahasiswa_df = pd.DataFrame(Data_Mahasiswa)

Mahasiswa_df = Mahasiswa_df.round(2)

Mahasiswa_df.head(), Statistik_Mahasiswa

(  ID_Mahasiswa  Umur Jenis_Kelamin   IPK      Jurusan  Jumlah_SKS  \
 0        S0001    25     Laki-laki  2.61   Management          34
 1        S0002    19     Laki-laki  2.89         PGSD          39
 2        S0003    21     Perempuan  3.13          DKV           6
 3        S0004    28     Perempuan  3.45  Informatika          37
 4        S0005    25     Laki-laki  3.59          DKV          10

    Jumlah_kehadiran Kerja_Sampingan Beasiswa  Lulus_Tepat_Waktu
 0              0.99             Iya    Tidak                  0
 1              0.62           Tidak    Tidak                  1
 2              0.66           Tidak    Tidak                  1
 3              0.68           Tidak    Tidak                  1
 4              0.84           Tidak      Iya                  1  ,
        ID_Mahasiswa         Umur Jenis_Kelamin          IPK      Jurusan  \
 count          1000  1000.000000          1000  1000.000000         1000
 unique         1000          NaN             2          NaN            5
 top           S0001          NaN     Perempuan          NaN  Informatika
 freq              1          NaN           501          NaN          213
 mean            NaN    23.033000           NaN     2.984020          NaN
 std             NaN     3.828913           NaN     0.488077          NaN
 min             NaN    17.000000           NaN     1.570000          NaN
 25%             NaN    20.000000           NaN     2.650000          NaN
 50%             NaN    23.000000           NaN     2.970000          NaN
 75%             NaN    26.000000           NaN     3.322500          NaN
 max             NaN    29.000000           NaN     4.630000          NaN

          Jumlah_SKS  Jumlah_kehadiran Kerja_Sampingan Beasiswa  \
 count   1000.000000       1000.000000            1000     1000
 unique          NaN               NaN               2        2
 top             NaN               NaN           Tidak    Tidak
 freq            NaN               NaN             503      680
 mean      21.942000          0.748050             NaN      NaN
 std       10.093092          0.144728             NaN      NaN
 min        5.000000          0.500000             NaN      NaN
 25%       13.000000          0.620000             NaN      NaN
 50%       22.000000          0.750000             NaN      NaN
 75%       31.000000          0.870000             NaN      NaN
 max       39.000000          1.000000             NaN      NaN

         Lulus_Tepat_Waktu
 count         1000.000000
 unique                NaN
 top                   NaN
 freq                  NaN
 mean             0.764000
 std              0.424835
 min              0.000000
 25%              1.000000
 50%              1.000000
 75%              1.000000
 max              1.000000  )