In [27]:
name = "Andang#001"
address,province = "Pochinki Kidul","312417931"
age= 00
scorePython = 85.7
isMarried = False

print("Nama :",name)
print("Alamat :",address)
print("Umur :",age)
print("Nilai Pemrograman :",scorePython)
print("Status Pernikahan :",isMarried)
print("Provinsi :",province)

Nama : Andang#001
Alamat : Pochinki Kidul
Umur : 0
Nilai Pemrograman : 85.7
Status Pernikahan : False
Provinsi : 312417931

In [12]:
print("tipe data <name> :",type(name))
print("tipe data <address> :",type(address))
print("tipe data <age> :",type(age))
print("tipe data <scorePython> :",type(scorePython))
print("tipe data <isMarried> :",type(isMarried))

tipe data <name> : <class 'str'>
tipe data <address> : <class 'str'>
tipe data <age> : <class 'int'>
tipe data <scorePython> : <class 'float'>
tipe data <isMarried> : <class 'bool'>

In [45]:
#Casting / KOnversi Tipe Data
#1. String ke (int,float,boolean)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt + 2,strToFloat,strToBool, sep="-")

#2. Int ke (str,float,boolean)
intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr,intToFloat,intToBool, sep="-") 

#3. float ke (int,str,boolean)
floatToInt = int(scorePython)
floatToStr = str(scorePython)
floatToBool = bool(scorePython)
print(floatToInt, floatToStr, floatToBool, sep="_")

#4. boolean ke (int,str,float)
boolToInt = int(isMarried)
boolToStr = str(isMarried)
boolToFloat = float(isMarried)
print(boolToInt, boolToStr, boolToFloat, sep="_")

312417933-312417931.0-True
0-0.0-False
85_85.7_True
0_False_0.0

In [59]:
#tipe data basis bilangan (desimal,biner,octal, hexa)

desimal = 500
biner = 0b1010 #10
octal = 0o377 #255
hexa = 0xff #255

print("nilai desimal :",desimal)
print("nilai biner :",biner)
print("nilai octal :",octal)
print("nilai hexa :",hexa)

print("nilai biner dari ",desimal, ":",bin(desimal))
print("nilai octal dari ",desimal, ":",oct(desimal))
print("nilai hexa dari ",desimal, ":",hex(desimal))

nilai desimal : 500
nilai biner : 10
nilai octal : 255
nilai hexa : 255
nilai biner dari  500 : 0b111110100
nilai octal dari  500 : 0o764
nilai hexa dari  500 : 0x1f4

In [67]:
city = "jakarta"
length = len(city)
print(city[0])
print(length)
print(city[length-1])

j
7
a

In [119]:
#tipe data collection
cities = ["bandung","sukabumi","bogor","jakarta","medan"]
print(cities)
lengthCities = len(cities)
print(cities[0])
print(cities[lengthCities-1])
print(cities[lengthCities-1][0])
print(cities[lengthCities-1][len(cities[lengthCities-1])-1])
cities[0] = "bali"
#cities[5] = "malang" akan menyebabkan error
print(cities)

names = ("andi","ferdi","raihan")
print(names)
print(names[1])
#names[0] = "dedi" eeror immutable tuple

studentData = {
    "name" : "robi",
    "age" : 25,
    "address" : {
        "street" : "Cisaat",
        "number" : 21,
        "province" : "jawa barat"
    },
    "isMarried" : True,
    "hobbies" : ["BasketBall, FootBall"]
}    

print(studentData)
print(studentData["age"])
print(studentData["address"]["province"])
print(studentData["hobbies"][0])

studentList = [
     {
    "name" : "robi",
    "age" : 25,
    "address" : {
        "street" : "Cisaat",
        "number" : 21,
        "province" : "jawa barat"
    },
    "isMarried" : True,
    "hobbies" : ["BasketBall, FootBall"]
},
     {
    "name" : "asep",
    "age" : 23,
    "address" : {
        "street" : "Cibatu",
        "number" : 19,
        "province" : "jawa timur"
    },
    "isMarried" : False,
    "hobbies" : ["Cooking, playing video games"]
},   
     {
    "name" : "joko",
    "age" : 27,
    "address" : {
        "street" : "Cisaat",
        "number" : 21,
        "province" : "sumatra barat"
    },
    "isMarried" : False,
    "hobbies" : ["Tawuran, chess"]
}    
]

print(studentList[1])
print(studentList[2]["address"]["province"])

['bandung', 'sukabumi', 'bogor', 'jakarta', 'medan']
bandung
medan
m
n
['bali', 'sukabumi', 'bogor', 'jakarta', 'medan']
('andi', 'ferdi', 'raihan')
ferdi
{'name': 'robi', 'age': 25, 'address': {'street': 'Cisaat', 'number': 21, 'province': 'jawa barat'}, 'isMarried': True, 'hobbies': ['BasketBall, FootBall']}
25
jawa barat
BasketBall, FootBall
{'name': 'asep', 'age': 23, 'address': {'street': 'Cibatu', 'number': 19, 'province': 'jawa timur'}, 'isMarried': False, 'hobbies': ['Cooking, playing video games']}
sumatra barat

In [133]:
#konversi dictionary

list_list = [["name", "anton"],["age", 30],["status", True]]
dictListStudent = dict(list_list)
print(dictListStudent)

list_tuple = [("name","anton"),("address","bogor")]
dictTupleStudent = dict(list_tuple)
print(dictTupleStudent)

tuple_list = (["name","whale"],["type","mamalia"])
dictListAnimal = dict(tuple_list)
print(dictListAnimal)

tuple_tuple = (("name","crocodile"),("type","reptile"))
dictTupleAnimal = dict(tuple_tuple)
print(dictTupleAnimal)

keys = ["vehicle","brand","cc"]
values = ["car","BMW",2500]
car = dict(zip(keys,values))
print(car)

{'name': 'anton', 'age': 30, 'status': True}
{'name': 'anton', 'address': 'bogor'}
{'name': 'whale', 'type': 'mamalia'}
{'name': 'crocodile', 'type': 'reptile'}
{'vehicle': 'car', 'brand': 'BMW', 'cc': 2500}